.dih-card {
	padding: 0.25rem;
	margin: 0;
}

.dih__target {
	padding-block: 0.25rem;
	display: grid;
	grid-template-columns: 2.5rem 1fr 4ch 3.8rem 4ch;
	align-items: center;
	gap: 0.3rem;
}

.dih__img-display {
	border: none;
	border-radius: 50%;
}

.dih__h3 {
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.dih--hidden {
	display: none !important;
}

.dih__roll-display {
	background: rgb(0 0 0 / 0.15);
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	display: flex;
	place-content: center;
	place-items: center;
	height: 100%;
	text-align: center;
	padding-bottom: 0.1rem;
}

.dih__hit-label {
	text-align: center;
	font-size: 0.833rem;
	padding: 0.25rem;
	border-radius: 0.2rem;
}

.dih--hit {
	background: #0b5a2f;
	color: white;
}

.dih--miss {
	background: maroon;
	color: white;
}

.dih__ac-display {
	background: rgb(0 0 0/ 0.15);
	border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
	display: flex;
	place-content: center;
	place-items: center;
	height: 100%;
	padding-bottom: 0.2rem;
}
